# Ambientes virtuais
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Notebooks
.ipynb_checkpoints/

# Resultados da análise (Pasta de saída)
outputs/

# Dataset gerado (Como o script cria o vendas.csv, não é ideal versioná-lo se ele mudar sempre)
vendas.csv